{% extends 'base.html' %}

{% block content %}
    <h1>Home</h1>
    <p>Home page content goes here.</p>

    <div>
        Quarterly Leaderboard Snippet:
        <ul>
            {% for user in quarterly_leaderboard %}
                <li>{{ user.username }}: {{ user.points_quarterly }}</li>
            {% endfor %}
    </div>

    <div>
        Alltime Leaderboard Snippet:
        <ul>
            {% for user in alltime_leaderboard %}
                <li>{{ user.username }}: {{ user.points_alltime }}</li>
            {% endfor %}
    </div>


    <div>
        Upcoming events:
        <ul>
            {% for event in upcoming_events %}
                <li><a href="/events/{{ event.id }}">{{ event.event_title }}</a></li>
            {% endfor %}
    </div>
    <div>
        Upcoming Interested Events:
        <ul>
            {% for event in upcoming_interested %}
                <li><a href="/events/{{ event.id }}">{{ event.event_title }}</a></li>
            {% endfor %}
    </div>

    {% if user.is_authenticated %} 
        <p>You are logged in as {{ user.username }}.</p>
    {% else %}
        <p>You are not logged in. <a href="/login">Login</a> or <a href="/register">make an account</a>.</p>
    {% endif %}
{% endblock %}
