{% extends 'base.html' %}
{% block title %}Badges{% endblock %}

{% block content %}
<div>
    <div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
        <h1 style="text-align: center; margin-bottom: 0%;">badges</h1>
        <p style="text-align: center;">Our badges will make you feel like the Emperor of the colony. (Earn badges by reaching milestones!)</p>
    </div>
    <div class="row">
        {% for badge in badges %}
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <b>{{badge.name}}</b>
                    </div>
                    <div class="card-text">{{badge.description}}</div>

                    <img src="../{{badge.icon}}" class="card-img-top" alt="{{badge.name}}" />
                    <div class="card-text">
                        {% if not user.is_authenticated %}
                        <a href="{% url 'login' %}">Login to collect</a>
                        {% elif badge in collected %}
                        Collected!
                        {% else %}
                        Not Collected
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}