{% extends 'base.html' %}
{% block title %}Badges{% endblock %}

{% block content %}
<div>
    <div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
        <h1 style="text-align: center; margin-bottom: 0%;">badges</h1>
        <p style="text-align: center;">complete challenges and earn badges!</p>
    </div>
    <ul>
        {% for badge in badges %}
        <li>
            {{badge.name}}
            {{badge.description}}
            <img src="../{{badge.icon}}" alt="{{badge.name}}" />
            <div>
                {% if not user.is_authenticated %}
                    <a href="{% url 'login' %}">Login to collect</a>
                {% elif badge in collected %}
                    Collected!
                {% else %}
                    Not Collected
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
