{% extends 'base.html' %}
{% load static %}
{% load extra_filters %}

{% block title %}Leaderboard{% endblock %}

{% block content %}
<div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
    <h1 style="text-align: center; margin-bottom: 0%;">leaderboard</h1>
    <p style="text-align: center;">climb to the top!</p>
</div>
<div class="row">
    <button id="all-time-btn" class="col lb-headers" onclick="lb_alltime()">All-time</button>
    <button id="quarterly-btn" class="col lb-headers" onclick="lb_quarterly()">Quarterly</button>
</div>
<div class="row">
    <div class="col" id="all-time">

        {% if users_alltime %}

        {% for user in users_alltime %}
        {% if user.points_alltime %} <!-- hide people with no points -->
        <div class="lb-row row position-relative">
            <div class="lb-rank col-1 "># </div>
            <a class="col-9 stretched-link lb-user" href="/user/{{user.username}}">{{user.username}}</a>
            <div class="col-2 lb-points">{{user.points_alltime}}</div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No users found.</p>
        {% endif %}
    </div>
    <div class="col" id="quarterly">

        {% if users_alltime %}
        {% for user in users_quarterly %}
        {% if user.points_quarterly %}
        <div class="lb-row row position-relative">
            <div class="lb-rank col-1 "># </div>
            <a class="col-9 stretched-link lb-user" href="/user/{{user.username}}">{{user.username}}</a>
            <div class="col-2 lb-points">{{user.points_quarterly}}</div>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <p>No users found.</p>
        {% endif %}
    </div>
</div>
<script>
    function lb_alltime() {
        if (window.screen.width <= 770) {
            document.getElementById("all-time").style.display = "block";
            document.getElementById("all-time-btn").style.backgroundColor = "#EDEDED";
            document.getElementById("quarterly").style.display = "none";
            document.getElementById("quarterly-btn").style.backgroundColor = "#D9D9D9";
        }
    }
    function lb_quarterly() {
        if (window.screen.width <= 770) {
            document.getElementById("all-time").style.display = "none";
            document.getElementById("all-time-btn").style.backgroundColor = "#D9D9D9";
            document.getElementById("quarterly").style.display = "block";
            document.getElementById("quarterly-btn").style.backgroundColor = "#EDEDED";
        }
    }
    if (window.screen.width <= 770) {
        window.document.onload = lb_alltime();
    }
</script>
{% endblock %}