/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Chivo', sans-serif !important;
    color: #523911 !important;
    /*background-image: url('https://media.discordapp.net/attachments/759867023885860934/1031193256433831997/unknown.png');*/
    background-repeat: no-repeat;
    background-size: 100% 150%;
    height: 100%;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.nav-space {
    padding-left: 8%;
    padding-right: 8%;
}

#map {
    height: 420px;
}

li {
    font-size: 18px !important;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 2000px;
}

p {
    font-size: 18px;
}

h1 {
    font-weight: 600;
    font-size: 45px;
}

.jumbotron-welcome {
    background: url('images/MainBackgroundImage.jpg') no-repeat fixed;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 0px;
    }

    .body-content {
        padding: 0;
    }
}

.carousel-caption {
    bottom: 1rem;
    z-index: 10;
}

.carousel-item {
    height: 35rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.btn-default {
    background-color: #886D56 !important;
    color: rgb(255, 255, 255) !important;
}

.bg-primary {

    background-color: #FFFFFF !important;
    -webkit-box-shadow: 0px 0px 10px 0px #FFB53FBF;
    -moz-box-shadow: 0px 0px 10px 0px #FFB53FBF;
    box-shadow: 0px 0px 10px 0px #FFB53FBF;
}

.card-footer {
    background: transparent;
    border-top: 0px;
}

.jumbotron {
    box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0);
    height: 75vh;
    background-size: cover;
}

.colored-link {
    color: rgba(126, 139, 77, 1);
}

.logo {
    font-size: 2rem;
    font-weight: 700;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.points-blob{
    background-color: white;
    border-radius: 0.2rem;
}

.event-card{
    background-color: #FFE7C1;
    border-radius: 0.5rem;
}

.points-num{
    font-size: 1.8rem;
}
.lb-row{
    margin: 0.5rem 0;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 0.3rem 0.7rem;
}
.lb-rank{
    border-right: black solid 0.1rem !important;
    padding-left: 0.3rem;
} 
.lb-user{
    text-decoration: none;
}
.lb-points{
    border-left: black solid 0.1rem;
}
.lb-headers{
    font-size: 2rem;
    border: none;
    background: none;
    border-bottom:#523911 solid 0.2rem;
    margin: 0 0.5rem;
}
.reg-form-field{
    border: solid 0.1rem rgba(56, 73, 35, 1);
    background-color: rgba(242, 243, 238, 1);
}
small{
    font-size: 0.8rem;
    color:#886D56;
}
.errors{
    color: red;
}