{% extends 'base.html' %}
{% block title %}Prizes{% endblock %}

{% block content %}
<div>
    <div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
        <h1 style="text-align: center; margin-bottom: 0%;">prizes</h1>
        <p style="text-align: center;">Look at all these rewards. Waddle you choose?</p>
    </div>
    <div class="row">
        {% for prize in prizes %}
        <div class="col-sm-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <b>{{prize.name}}</b>
                    </div>
                    <div class="card-text">{{prize.description}}</div>

                    {% if prize.image %}
                    <img src="../{{prize.image}}"  class="card-img-top" alt="{{prize.name}}" />
                    {% else %}
                    <img src="../static/img/badge_images/porcupine.png" class="card-img-top" alt="{{prize.name}}" />
                    {% endif %}
                    <div class="card-text">
                {% if not user.is_authenticated %}
                <a href="{% url 'login' %}">Login to buy</a>
                {% elif prize in collected %}
                Bought Already
                {% else %}
                <div style="margin-top: 5%;">
                    <form action="{{prize.id}}/" method="post">
                        {% csrf_token %}
                        <input type="submit" class="light-btn btn" value="Buy" />
                    </form>
                </div>
                {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}