{% extends 'base.html' %}

{% block title %}User{% endblock %}

{% block content %}


<div class="container body-content" style="">
    <div class="row" style="margin-top: 7%;  margin-bottom: 3%;">
        <h1 style="margin-bottom: 0%;">{{ user.first_name }} {{ user.last_name }}</h1>
        <p style="">{{ user.username }} {{user.grade}} {% if is_self %} <a href="/profile/update/">edit</a> {% endif %} </p>
        <br>
        <p>{{user.bio}}</p>
    </div>
    
    <div>
        Quarterly Overall: #{{quarterly_overall}}
        <br>
        Quarterly Grade: #{{quarterly_grade}}
        <br>
        Alltime Overall: #{{alltime_overall}}
        <br>
        Alltime Grade: #{{alltime_grade}}
    </div>
    {% if not user.is_public %}
    <div class="row" style="margin-bottom: 3%;">
        <div class="col-md-6">
            <h3>quarterly total points</h3>
            <h3>alltime total points</h3>
            {% if is_self %} <h3>total coins</h3> {% endif %}
        </div>
        <div class="col-md-6">
            <h3>{{user.points_quarterly}}</h3>
            <h3>{{user.points_alltime}}</h3>
            {% if is_self %} <h3>{{user.coins}}</h3> {% endif %}
        </div>
    </div>
    <hr>
    <div>
        Interested Tags:
        {% for tag in user.tags_interested.all %}
        <span>{{tag}}</span>
        {% endfor %}
    </div>
    <div>
        Events Interested:
        {% for event in user.events_interested.all %}
        <span>{{event}}</span>
        {% endfor %}
    </div>
    <div>
        Events Participated:
        {% for event in user.events_participated.all %}
        <span>{{event}}</span>
        {% endfor %}
    </div>
    <div>
        Prizes Redeemed:
        {% for prize in user.prizes_redeemed.all %}
        <span>{{prize}}</span>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}